:root {
  --yellow-dark: #fab81e;
  --yellow: #ffc233;
  --red: #e81639;
  --white: #fff;
  --green: #51b580;
  --black: #000;
  --gray-ultradark: #141415;
  --gray-darkest: #19191a;
  --gray-darker: #1d1d1f;
  --gray-dark: #242426;
  --gray: #28282a;
  --gray-light: #313135;
  --gray-lighter: #3b3b3f;
  --gray-lightest: #45454a;

  --display-font-size: 56px;
  --display-line-height: 64px;

  --h1-font-size: 40px;
  --h1-line-height: 48px;

  --h2-font-size: 28px;
  --h2-line-height: 36px;

  --h3-font-size: 20px;
  --h3-line-height: 28px;

  --body1-font-size: 16px;
  --body1-line-height: 24px;

  --body2-font-size: 14px;
  --body2-line-height: 20px;

  --label1-font-size: 12px;
  --label1-line-height: 16px;

  --default-navbar-height: 80px;
  --user-navbar-height: 76px;

  --footer-content-height: 18px;
  --footer-margin: 24px;
  --footer-height: 40px;

  --sidebar-width: 378px;
  --navbar-main-gap: 56px;
  --navbar-alternative-gap: 76px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
  word-break: keep-all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
}

#__next {
  margin-left: auto;
  margin-right: auto;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: var(--white);
  text-decoration: none;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  color: var(--white);
}

h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  color: var(--white);
}

h3 {
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  color: var(--white);
}

p {
  color: var(--white);
}

span {
  color: var(--white);
}

input {
  color: var(--white);
  padding: 0;
}

textarea {
  color: var(--white);
  padding: 16px 22px;
  background-color: var(--gray-ultradark);
  border: none;
  font-size: var(--body2-font-size);
  line-height: var(--body2-line-height);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
}
textarea::placeholder {
  opacity: 0.4;
}
textarea:focus {
  outline: none;
}
